//
   Created with JetBrains WebStorm.
   User: CuongNv
   Date: 1/31/13
   Time: 2:27 PM
   To change this template use File | Settings | File Templates.

// Có thể dùng jade cho view engine phía server
