<!--
<div class="navbar navbar-inverse navbar-fixed-top" style="z-index: 10;">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">VTC Intecom R&D</a>

            <div class="nav-collapse collapse">

                <ul class="nav">
                    <li class="add-menu"><a href="#wines">Browse Wines</a></li>
                    <li class="add-menu"><a href="#wines/add"><i class="icon-edit icon-white"></i>Add Wine</a></li>

                    <li class="add-menu"><a href="#room">Sảnh chờ</a></li>
                    <li class="add-menu"><a href="#money">Nạp tiền</a></li>
                    <li class="add-menu"><a href="#friend">Bạn bè</a></li>
                    <li class="add-menu"><a href="http://117.103.204.25:3000/dashboard.html">Thống kê</a></li>
                    <li class="add-menu"><a href="http://117.103.204.25/bootstrap/index.html">Bootstrap Demo</a></li>
                </ul>

                <ul class="nav pull-right">
                    <li class="about-menu"><a href="#about">Thông tin</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Công nghệ<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://documentcloud.github.com/backbone/" target="_blank">Backbone.js</a></li>
                            <li><a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
                            <li><a href="http://nodejs.org/" target="_blank">Node.js</a>
                            <li><a href="http://expressjs.com/mongodb" target="_blank">Express</a>
                            <li><a href="http://www.mongodb.org/" target="_blank">MongoDB</a>
                            </li>
                            <li class="divider"></li>
                            <li class="nav-header">Về ứng dụng</li>
                            <li><a href="#" target="_blank">Giới thiệu</a></li>
                            <li><a href="http://intecom.vtc.vn" target="_blank">Blog</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
-->
<div class="header">
    This is Header
</div>